@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-position: center;
}
video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index:-100;
}
.fp-layout{
    display: flex;
    align-items: center;
    width: 450px;
    height: 500px;
    padding: auto;
    background: transparent;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px rgba(0,0,0, 0.2);
    border-radius: 15px;
}
.forgot-password-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 440px;
    height: 480px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0,0,0, 0.2);
}
.forgot-password-header{
    text-align: center;
    margin: 20px 0 40px 0;
}
.forgot-password-header header{
    color: #ffffff;
    font-size: 40px;
    font-weight: 600;
}
.fp-dialouge{
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
    padding-bottom: 30px;
}
.input-box .input-field{
    width: 100%;
    height: 60px;
    font-size: 17px;
    padding: 0 25px;
    margin-bottom: 15px;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 5px 10px 1px rgba(0,0,0, 0.05);
    outline: none;
    transition: .3s;
}
::placeholder{
    font-weight: 500;
    color: #222;
}
.input-field:focus{
    width: 105%;
}
.input-submit{
    position: relative;
}
.submit-btn{
    width: 180px;
    height: 60px;
    margin-left: 25%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px rgba(0,0,0, 0.2);
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
}
.input-submit label{
    position: absolute;
    top: 45%;
    left: 50%;
    color: #fff;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.submit-btn:hover{
    background: #0d417c;
    transform: scale(1.05,1);
}
.email-not-found-dialouge{
    color: #ff0000;
    margin-left: 25%;
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 10px;
}
.input-submit-back{
    position: relative;
}
.submit-back-btn{
    width: 180px;
    height: 60px;
    margin-left: 25%;
    background: #0d417c;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
}
.input-submit-back label{
    position: absolute;
    top: 45%;
    left: 50%;
    color: #fff;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.submit-back-btn:hover{
    background: transparent;
    transform: scale(1.05,1);
}